.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.blog-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 0 10px; /* Add padding to each card for spacing */
}

.card {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.prashant {
  margin-top: 10px; /* Add margin between buttons */
}

.prashant a {
  margin-right: 10px; /* Add margin between anchor tags (buttons) */
}
