<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']" (click)="changeTextColor($event)">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngSwitch]="userType" class="collapse navbar-collapse me-auto" id="navbarNavAltMarkup">
      <div *ngSwitchCase="'default'" class="navbar-nav">
        <a class="nav-link active" [routerLink]="['/All-blog']" (click)="changeTextColor($event)">Home</a>
        <a class="nav-link" [routerLink]="['/signup']" (click)="changeTextColor($event)">SignUp</a>
        <a class="nav-link" [routerLink]="['/signin']" (click)="changeTextColor($event)">Login</a>
      </div>
      <div *ngSwitchCase="'user'" class="navbar-nav">
        <a class="nav-link active" [routerLink]="['/addblog']" (click)="changeTextColor($event)">Create new Blog</a>
        <a class="nav-link" [routerLink]="['/All-blog']" (click)="changeTextColor($event)">All blogs</a>
        <a class="nav-link" [routerLink]="['/my-blog']" (click)="changeTextColor($event)">My blogs</a>
        <a class="nav-link" (click)="logout()">Logout</a>
        <p class="nav-link" style="color: blueviolet;">{{ userName }}</p>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
